<RadzenTemplateForm TItem="ForgetPasswordRequestDto" Data="forgetPasswordRequest" Submit="Submit">
    <ChildContent>
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label for="Email" class="form-label">@translationState.Translate("Email") *</label>
                    <RadzenTextBox Name="Email" @bind-Value="forgetPasswordRequest.Email" class="form-control" placeholder="@translationState.Translate("Enter_Your_Email")" />
                    <RadzenRequiredValidator Component="Email" Text="@translationState.Translate("Required_Field")" />
                    <RadzenEmailValidator Component="Email" Text="@translationState.Translate("Provide_Valid_Email")" />
                </div>
                <p>@translationState.Translate("Forget_Password_Description")</p>
                <div class="d-grid mb-3">
                    @if(showLoading)
                    {
                        <button class="btn btn-primary" type="button" disabled=""> <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span></button>
                    }
                    else
                    {
                        <RadzenButton class="btn btn-primary btn-lg" ButtonType="ButtonType.Submit"> @translationState.Translate("Submit") </RadzenButton>
                    }
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenTemplateForm>

@code {
    private class ForgetPasswordRequestDto
    {
        public string Email { get; set; }
    }

    private ForgetPasswordRequestDto forgetPasswordRequest { get; set; } = new();
    private bool showLoading = false;

    private async Task Submit()
    {
        try
        {
            showLoading = true;
            var response = await apiHelper.SendGetAsync<object>($"Auth/SendPasswordResetLink?email=" + forgetPasswordRequest.Email, hasReturnData: false, isApiKeyAuth: true);
            if (response.IsSuccessStatusCode)
            {
                showLoading = false;
                invalidRequestHandler.Notify(NotificationSeverity.Success, translationState.Translate("Password_Reset_Link_Sent_Successfully"));
                dialogService.Close(null);
            }
            else
            {
                showLoading = false;
                invalidRequestHandler.Notify(NotificationSeverity.Error);
            }
        }
        catch (Exception ex)
        {
            showLoading = false;
            invalidRequestHandler.Notify(NotificationSeverity.Error);
        }
    }
}