@using Microsoft.AspNetCore.Components

@if (showPassword)
{
    <div class="input-group">
        <RadzenTextBox @ref="textBox" @onfocusin="@(args => listGroupClass = "d-block")" @onfocusout="@(args => listGroupClass = "d-none")" @oninput="HandlePasswordChange" Name="password" id="password" class="form-control" placeholder="@translationState.Translate("Enter_Your_Password")" @bind-Value="Password" />
        <button class="btn btn-light border" type="button"  @onclick="ToggleVisibility">
            <i class="ri-eye-line align-middle"></i>
        </button>
    </div>
}
else
{
    <div class="input-group">
        <RadzenPassword @ref="passwordBox" @onfocusin="@(args => listGroupClass = "d-block")" @onfocusout="@(args => listGroupClass = "d-none")" @oninput="HandlePasswordChange" Name="password" id="password" class="form-control" placeholder="@translationState.Translate("Enter_Your_Password")" @bind-Value="Password" />
        <button class="btn btn-light border" type="button"  @onclick="ToggleVisibility">
            <i class="ri-eye-off-line align-middle"></i>
        </button>
    </div>
}
<RadzenRequiredValidator Component="password" Text="@translationState.Translate("Required_Field")" />
@if(ShowPasswordCriteria)
{
    <RadzenRegexValidator Component="password" Text="@translationState.Translate("Required_Valid_Password")" Pattern="@RegexPatterns.PasswordPattern" />
    <div class="password-list-group mb-2 @listGroupClass">
        <ul class="list-group">
            <li class="@RenderPasswordInfoClasses(1).liClass">
                <i class="@RenderPasswordInfoClasses(1).iconClass"></i> @translationState.Translate("Password_Must_Have_Six_Characters")
            </li>
            <li class="@RenderPasswordInfoClasses(2).liClass">
                <i class="@RenderPasswordInfoClasses(2).iconClass"></i> @translationState.Translate("Password_Must_Have_One_Alphanumeric")
            </li>
            <li class="@RenderPasswordInfoClasses(3).liClass">
                <i class="@RenderPasswordInfoClasses(3).iconClass"></i> @translationState.Translate("Password_Must_Have_One_Digit")
            </li>
            <li class="@RenderPasswordInfoClasses(4).liClass">
                <i class="@RenderPasswordInfoClasses(4).iconClass"></i> @translationState.Translate("Password_Must_Have_One_Uppercase")
            </li>
        </ul>
    </div>
}
@code {
    [Parameter]
    public string? Password
    {
        get => _passwordText;
        set
        {
            if (_passwordText == value) return;

            _passwordText = value;
            PasswordChanged.InvokeAsync(value);
        }
    }

    private string _passwordText;

    [Parameter]
    public EventCallback<string> PasswordChanged { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter]
    public bool ShowPasswordCriteria { get; set; }

    private bool showPassword = false;
    string listGroupClass = "d-none";
    RadzenTextBox textBox;
    RadzenPassword passwordBox;

    private void ToggleVisibility()
    {
        showPassword = !showPassword;
    }


    #region Password Info Validation
    private (string liClass, string iconClass) RenderPasswordInfoClasses(int infoType)
    {
        if (string.IsNullOrEmpty(Password))
        {
            return ("list-group-item", "mdi mdi-information-variant me-2");
        }
        bool? isValid = infoType switch
        {
            1 => Password?.Length >= 6,
            2 => Password?.Any(ch => !char.IsLetterOrDigit(ch)),
            3 => Password?.Any(char.IsDigit),
            4 => Password?.Any(char.IsUpper)
        };

        return isValid == true
            ? ("list-group-item text-success", "mdi mdi-check-bold text-success me-2")
            : ("list-group-item text-danger", "mdi mdi-close-thick text-danger me-2");
    }
    private async Task HandlePasswordChange(ChangeEventArgs e)
    {
        Password = e.Value.ToString();
        await InvokeAsync(StateHasChanged);
    }
    #endregion
}
