@page "/reset-password"
@using System.Text.Json
@using System.Text
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Radzen.Blazor
@using WB.Shared.Dtos.UMS.RequestDtos
@using WMBlazorSlickCarousel.WMBSC
@layout CustomLayout
<link href="_content/WMBlazorSlickCarousel/WMBlazorSlickCarousel.bundle.scp.css" rel="stylesheet">

<div class="bg-white">
    <div class="row authentication mx-0">
        <div class="col-xxl-7 col-xl-7 col-lg-12">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-xxl-6 col-xl-7 col-lg-7 col-md-7 col-sm-8 col-12">
                    <div class="p-5">
                        <div class="mb-4">
                            <a href="javascript:void(0)">
                                <img src="../assets/images/brand-logos/desktop-logo.png" alt="" class="authentication-brand desktop-logo" style="margin: 0px -20px;">
                                <img src="../assets/images/brand-logos/desktop-dark.png" alt="" class="authentication-brand desktop-dark" style="margin: 0px -20px;">
                            </a>
                        </div>
                        <p class="h5 fw-semibold mb-2">@translationState.Translate("Password_Setup")</p>
                        <p class="mb-5 text-muted op-7 fw-normal">@translationState.Translate("Welcome_Back")</p>
                        <RadzenTemplateForm TItem="ResetPasswordRequestDto" Data="resetPasswordRequest" Submit="Submit">
                            <ChildContent>
                                <div class="row gy-3">
                                    <div class="col-xl-12 mb-3">
                                        <label for="signin-password" class="form-label text-default d-block">@translationState.Translate("Password") *</label>
                                        <PasswordToggle @bind-Password="resetPasswordRequest.Password" ShowPasswordCriteria="true"/>
                                    </div>
                                    <div class="col-xl-12 mb-3">
                                        <label for="signin-password" class="form-label text-default d-block">@translationState.Translate("Confirm_Password") *</label>
                                        <PasswordToggle @bind-Password="resetPasswordRequest.ConfirmPassword" />
                                        @if (!string.IsNullOrEmpty(resetPasswordRequest.ConfirmPassword) && !string.IsNullOrEmpty(resetPasswordRequest.Password) && resetPasswordRequest.Password != resetPasswordRequest.ConfirmPassword)
                                        {
                                            <div class="rz-message rz-messages-error">@translationState.Translate("Password_And_Confirm_Password_Not_Match")</div>
                                        }
                                    </div>
                                    <div class="col-xl-12 d-grid mt-2">
                                        <RadzenButton class="btn btn-lg btn-primary" ButtonType="ButtonType.Submit"> @translationState.Translate("Submit") </RadzenButton>
                                    </div>
                                </div>
                            </ChildContent>
                        </RadzenTemplateForm>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-5 col-xl-5 col-lg-5 d-xl-block d-none px-0">
            <div class="authentication-cover">
                <div class="aunthentication-cover-content rounded">
                    <BlazorSlickCarousel Configurations="BasicConfigurations">
                        <BlazorSlickCarouselContent>
                            <div class="Carousel-slide">
                                <div class="text-fixed-white text-center p-5 d-flex align-items-center justify-content-center">
                                    <div>
                                        <div class="mb-5">
                                            <img src="../assets/images/authentication/slide1.jpg" class="authentication-image" alt="" style="border-radius: 50%;">
                                        </div>
                                        <p class="fw-normal fs-14 op-7">
                                            We help mental health professionals improve people’s social anxiety,  fears and phobias through innovative and enhanced technology.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="Carousel-slide">
                                <div class="text-fixed-white text-center p-5 d-flex align-items-center justify-content-center">
                                    <div>
                                        <div class="mb-5">
                                            <img src="../assets/images/authentication/slide2.jpg" class="authentication-image" alt="" style="border-radius: 50%;">
                                        </div>
                                        <p class="fw-normal fs-14 op-7">
                                            We deliver real-life scenarios through VR headsets using AI and 360° interactive scenarios in the clinic for faster and more effective results.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="Carousel-slide">
                                <div class="text-fixed-white text-center p-5 d-flex align-items-center justify-content-center">
                                    <div>
                                        <div class="mb-5">
                                            <img src="../assets/images/authentication/slide3.jpg" class="authentication-image" alt="" style="border-radius: 50%;">
                                        </div>
                                        <p class="fw-normal fs-14 op-7">
                                            We enable psychologists and mental health professionals treat social anxiety, fears and phobias more effectively, quicker and longer lasting.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </BlazorSlickCarouselContent>
                    </BlazorSlickCarousel>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    #region Parameters

    [Parameter]
    [SupplyParameterFromQuery(Name = "userId")]
    public string UserId { get; set; }
    [Parameter]
    [SupplyParameterFromQuery(Name = "token")]
    public string ResetPasswordToken { get; set; }

    #endregion

    #region Variables
    private ResetPasswordRequestDto resetPasswordRequest { get; set; } = new ResetPasswordRequestDto();
    public WMBSCInitialSettings? BasicConfigurations;
    #endregion

    #region On Initialized

    protected override void OnInitialized()
    {
        BasicConfigurations = new WMBSCInitialSettings
            {
                arrows = true,
                dots = true,
                slidesToShow = 1,
                slidesToScroll = 1,
                infinite = true,
                autoplay = true,
                dotsClass = "slick-dots Dynamic-slick-dots",
                autoplaySpeed = 3000,
            };
    }
    #endregion

    #region Submit
    protected async Task Submit()
    {
        try
        {
            if(resetPasswordRequest.Password != resetPasswordRequest.ConfirmPassword)
            {
                return;
            }
            spinnerService.Show();
            resetPasswordRequest.ResetPasswordToken = ResetPasswordToken;
            resetPasswordRequest.UserId = UserId;
            var response = await apiHelper.SendAsync<ResetPasswordRequestDto, object>(HttpMethod.Post, $"Auth/ResetPassword", resetPasswordRequest, hasReturnData: false, isApiKeyAuth: true);
            if (response.IsSuccessStatusCode)
            {
                spinnerService.Hide();
                invalidRequestHandler.Notify(NotificationSeverity.Success, translationState.Translate("Password_Reset_Successfully"));
                navigationManager.NavigateTo("login");
            }
            else
            {
                spinnerService.Hide();
                await invalidRequestHandler.ReturnBadRequestNotification(response);
            }
        }
        catch (Exception ex)
        {
            spinnerService.Hide();
            invalidRequestHandler.Notify(NotificationSeverity.Error);
        }
        #endregion

    }
}
