@page "/departments/{OrganizationId}/{OrganizationName}/{OrganizationTypeName}"
@layout MainLayout
@using WB.Shared.Dtos.Organization.ResponseDtos;

<PageTitle>Departments</PageTitle>

<div class="container-fluid">
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-0">@OrganizationName</h1>
        <div class="ms-md-1 ms-0">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Organizations</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Departments</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header  justify-content-between">
                    <div class="card-title">
                        List of Departments
                    </div>
                    <div class="d-flex">
                        <div class="me-3">
                            <input class="form-control form-control-sm" type="text" placeholder="Search Here" aria-label=".form-control-sm example">
                        </div>
                        <button type="button" class="btn btn-primary btn-sm btn-wave me-3" @onclick="@(() => OpenAddEditDepartmentDialog(null))">
                            <i class="ri-add-fill me-2 align-middle d-inline-block"></i>Add Department
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive mb-4">
                        <div class="table text-nowrap table-hover border table-bordered">
                            <RadzenDataGrid @ref="DepartmentsGrid" TItem="DepartmentsListResponseDto"
                                            Data="DepartmentsList"
                                            Count="@(DepartmentsList?.Count ?? 0)"
                                            AllowPaging="true"
                                            PageSize="@systemSettingState.PageSize"
                                            PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                            PageSizeText="@translationState.Translate("Items_Per_Page")"
                                            PageSizeOptions="@systemSettingState.PageSizeOptions"
                                            PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                            ShowPagingSummary="true">
                                <Columns>
                                    <RadzenDataGridColumn TItem="DepartmentsListResponseDto" Property="NameEn" Title="Organization Name (English)" />
                                    <RadzenDataGridColumn TItem="DepartmentsListResponseDto" Property="NameAr" Title="Organization Name (Arabic)" />
                                    <RadzenDataGridColumn TItem="DepartmentsListResponseDto" Property="CreatedDate" Title="Created" />
                                    <RadzenDataGridColumn TItem="DepartmentsListResponseDto" Title="Action" Sortable="false" CssClass="text-center" Width="100px">
                                        <Template Context="item">
                                            <a aria-label="anchor" @onclick="@(() => OpenDetailDepartmentDialog(item.Id))" class="btn btn-icon btn-wave waves-effect waves-light btn-sm btn-success-light"><i class="ri-eye-line"></i></a>
                                            <a aria-label="anchor" @onclick="@(() => OpenAddEditDepartmentDialog(item.Id))" class="btn btn-icon btn-wave waves-effect waves-light btn-sm btn-success-light"><i class="ri-pencil-line"></i></a>
                                        </Template>
                                    </RadzenDataGridColumn>
                                </Columns>
                            </RadzenDataGrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
