@page "/lobs"
@using global::WB.Shared.Configs
@using global::WB.Shared.Dtos
@using WB.Shared.Dtos.Product.ResponseDtos;
@rendermode InteractiveServer

<PageTitle>@translationState.Translate("LOBs")</PageTitle>

<RadzenContent Container="main">
    <ChildContent>

        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <h1 class="page-title fw-semibold fs-18 mb-0">Line of Business</h1>
            <div class="ms-md-1 ms-0">
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">@translationState.Translate("Home")</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@translationState.Translate("LOBs")</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header  justify-content-between">
                        <div class="card-title">
                            List LOBs
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-lg-flex justify-content-between align-items-center">
                            <div class="app-search">
                                <div class="position-relative">
                                    <RadzenTextBox class="form-control"
                                                   Placeholder="@translationState.Translate("Grid_Search")"
                                                   Name="Textbox0"
                                                   @oninput="@(async (args) => { search = $"{args.Value}"; await productsGrid.GoToPage(0); await OnSearchInput(); })" />
                                    <span class="mdi mdi-magnify search-icon"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <div class="table-responsive">
                                <RadzenDataGrid EmptyText="@translationState.Translate("No_Record_Found")"
                                                @ref="productsGrid"
                                                AllowSorting="true"
                                                Data="@FilteredProductList?.OrderByDescending(x => x.ModifiedDate)"
                                                TItem="ProductListResponseDto"
                                                Count="@(FilteredProductList?.Count ?? 0)"
                                                AllowPaging="true"
                                                PageSize="@systemSettingState.PageSize"
                                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                PageSizeOptions="@systemSettingState.PageSizeOptions"
                                                PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                                ShowPagingSummary="true">
                                    <Columns>
                                        <RadzenDataGridColumn TItem="ProductListResponseDto" Property="NameEn" Title="@translationState.Translate("Name_En")" Width="250px" />
                                        <RadzenDataGridColumn TItem="ProductListResponseDto" Property="NameAr" Title="@translationState.Translate("Name_Ar")" Width="250px" />
                                        <RadzenDataGridColumn TItem="ProductListResponseDto" Property="CreatedDate" Title="@translationState.Translate("Created_Date")" Width="200px" FormatString="{0:dd/MM/yyyy h:mm tt}" />
                                        <RadzenDataGridColumn TItem="ProductListResponseDto" Property="Action" Title="@translationState.Translate("Action")" Sortable="false" CssClass="text-center" Width="100px">
                                            <Template Context="item">
                                                <div class="hstack gap-2 fs-15">
                                                    <a href="javascript:void(0)" @onclick="@(() => ViewProduct(item))" class="btn btn-icon btn-sm btn-info-light"><i class="ri-edit-line"></i></a>
                                                </div>
                                            </Template>
                                        </RadzenDataGridColumn>
                                    </Columns>
                                </RadzenDataGrid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
