@page "/crm-leads"
@inject CrmLeadsService CrmLeadsService
@inject NavigationManager NavigationManager
@using Soenneker.Blazor.TomSelect
@using Soenneker.Blazor.TomSelect.Configuration
@using Soenneker.Blazor.TomSelect.Enums

            <div class="container-fluid">

                <!-- Page Header -->
                <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                    <h1 class="page-title fw-semibold fs-18 mb-0">Leads</h1>
                    <div class="ms-md-1 ms-0">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">CRM</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Leads</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- Page Header Close -->

                <!-- Start::row-1 -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card custom-card">
                            <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
                                <div class="card-title">
                                    Leads<span class="badge bg-light text-default rounded ms-1 fs-12 align-middle">30</span>
                                </div>
                                <div class="d-flex flex-wrap gap-2">
                                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#create-contact"><i class="ri-add-line me-1 fw-semibold align-middle"></i>Create Lead</button>
                                    <button class="btn btn-success-light btn-sm">Export As CSV</button>
                                    <div class="dropdown">
                                        <a href="javascript:void(0);" class="btn btn-light btn-sm btn-wave waves-effect waves-light" data-bs-toggle="dropdown" aria-expanded="false">
                                            Sort By<i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a class="dropdown-item" href="javascript:void(0);">Newest</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Date Added</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">A - Z</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table text-nowrap">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <input class="form-check-input check-all" type="checkbox" id="all-tasks" @bind="@selectAll" @onclick="ToggleSelectAll" value="" aria-label="...">
                                                </th>
                                                <th scope="col">Contact Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Phone</th>
                                                <th scope="col">Lead Status</th>
                                                <th scope="col">Company</th>
                                                <th scope="col">Lead Source</th>
                                                <th scope="col">Tags</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var CrmLeads in CrmLeadsService.GetCrmLeads())
                                            {
                                                <tr class="crm-contact">
                                                    <td><input class="form-check-input" type="checkbox" value="" @bind="@CrmLeads.Selected" aria-label="..."></td>
                                                    <td>
                                                        <div class="d-flex align-items-center gap-2">
                                                            <div class="lh-1">
                                                                <span class="avatar avatar-rounded avatar-sm">
                                                                    <img src=@CrmLeads.ContactImg alt="">
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <a href="javascript:void(0);"><span class="d-block fw-semibold">@CrmLeads.ContactName</span></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <span class="d-block mb-1"><i class="ri-mail-line me-2 align-middle fs-14 text-muted"></i>@CrmLeads.Email</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <span class="d-block"><i class="ri-phone-line me-2 align-middle fs-14 text-muted"></i>@CrmLeads.Phone</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-light text-default">@CrmLeads.Status</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center gap-2">
                                                            <div class="lh-1">
                                                                <span class="avatar avatar-sm p-1 bg-light avatar-rounded">
                                                                    <img src=@CrmLeads.CompanyImg alt="">
                                                                </span>
                                                            </div>
                                                            <div>@CrmLeads.CompanyName</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @CrmLeads.LeadsSource
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center flex-wrap gap-1">
                                                            @foreach (var TagsList in CrmLeads?.LeadsTags?.Take(3) ?? Enumerable.Empty<LeadsTagItem>())
                                                            {
                                                                    <span class="badge bg-@TagsList.statusColor">@TagsList.status</span>
                                                            }
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="btn-list">
                                                            <a href="javascript:void(0);" class="btn btn-sm btn-warning-light btn-icon"><i class="ri-eye-line"></i></a>
                                                            <button class="btn btn-sm btn-info-light btn-icon"><i class="ri-pencil-line"></i></button>
                                                            <button class="btn btn-sm btn-danger-light btn-icon contact-delete" @onclick="@(() => DeleteCrmLeads(CrmLeads!))"><i class="ri-delete-bin-line"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer border-top-0">
                                <div class="d-flex align-items-center">
                                    <div>
                                        Showing 10 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i>
                                    </div>
                                    <div class="ms-auto">
                                        <nav aria-label="Page navigation" class="pagination-style-4">
                                            <ul class="pagination mb-0">
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="javascript:void(0);">
                                                        Prev
                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                                <li class="page-item">
                                                    <a class="page-link text-primary" href="javascript:void(0);">
                                                        next
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End::row-1 -->

                <!-- Start:: Create Contact -->
                <div class="modal fade" id="create-contact" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">Create Lead</h6>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-4">
                                <div class="row gy-3">
                                    <div class="col-xl-12">
                                        <div class="mb-0 text-center">
                                            <span class="avatar avatar-xxl avatar-rounded">
                                                <img src="@imageDataUrl" alt="Selected Image" id="profile-img" />
                                                <span class="badge rounded-pill bg-primary avatar-badge">
                                                    <InputFile id="profile-change" class="position-absolute w-100 h-100 op-0" OnChange="LoadFile"></InputFile> <i class="fe fe-camera"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <label for="contact-name" class="form-label">Contact Name</label>
                                        <input type="text" class="form-control" id="contact-name" placeholder="Contact Name">
                                    </div>
                                    <div class="col-xl-12">
                                        <label for="contact-mail" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="contact-mail" placeholder="Enter Email">
                                    </div>
                                    <div class="col-xl-12">
                                        <label for="contact-phone" class="form-label">Phone No</label>
                                        <input type="tel" class="form-control" id="contact-phone" placeholder="Enter Phone Number">
                                    </div>
                                    <div class="col-xl-12">
                                        <label for="company-name" class="form-label">Company Name</label>
                                        <input type="text" class="form-control" id="company-name" placeholder="Company Name">
                                    </div>
                                    <div class="col-xl-12">
                                        <label class="form-label">Lead Status</label>
                                        @if (isRendered)
                                        {
                                            <TomSelect TItem="SelectItem" Items="_selectedItems" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_options" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Select Status" Configuration="_configuration" />
                                        }
                                    </div>
                                    <div class="col-xl-12">
                                        <label class="form-label">Lead Source</label>
                                        @if (isRendered)
                                        {
                                            <TomSelect TItem="SelectItem" Items="_selectedItems2" TType="string" Multiple="false" @bind-Value="_selectedValue" Data="_options2" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Select" Configuration="_configuration" />
                                        }
                                    </div>
                                    <div class="col-xl-12">
                                        <label class="form-label">Tags</label>
                                        @if (isRendered)
                                        {
                                            <TomSelect TItem="SelectItem" Items="_selectedItems3" TType="string" Multiple="true" @bind-Value="_selectedValue" Data="_options3" TextField="@(item => item.Name)" ValueField="@(item => item.Id)" Placeholder="Select" Configuration="_configuration2" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light"
                                    data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Create Contact</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: Create Contact -->

            </div>

@code {
    protected async Task DeleteCrmLeads(CrmLeads ContactName)
    {
        await CrmLeadsService.DeleteCrmLeads(ContactName?.ContactName);
        await Task.Delay(1000);
        NavigationManager.NavigateTo("/crm-leads", forceLoad: false);
    }
    private bool selectAll;
    private void ToggleSelectAll()
    {
        selectAll = !selectAll;
        foreach (var CrmLeads in CrmLeadsService.GetCrmLeads())
        {
           CrmLeads.Selected = selectAll;
        }
    }
    
    string imageDataUrl ="../assets/images/faces/9.jpg";

    async Task LoadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null && file.ContentType.Contains("image"))
        {
            var buffer = new byte[file.Size];
            await file.OpenReadStream(maxAllowedSize: 5 * 1024 * 1024).ReadAsync(buffer);
            var imageBase64 = Convert.ToBase64String(buffer);
            imageDataUrl = $"data:{file.ContentType};base64,{imageBase64}";
        }
        else
        {
            imageDataUrl = "";
            imageDataUrl = "Invalid image selected";
        }
    }
    
    private TomSelect<SelectItem, string> _selectedValue = default!;
    private List<SelectItem>? _options;    
    private List<SelectItem>? _options2;    
    private List<SelectItem>? _options3;    
    private List<SelectItem> _selectedItems = new List<SelectItem>();  
    private List<SelectItem> _selectedItems2 = new List<SelectItem>();  
    private List<SelectItem> _selectedItems3 = new List<SelectItem>();     
    public class SelectItem
    {
        public string? Id { get; set; }
        public string? Name { get; set; }
        public bool Selected { get; set; }
    }      
    private readonly TomSelectConfiguration _configuration = new()
    {
        Plugins = new List<TomSelectPluginType> { TomSelectPluginType.DropdownInput }
    };
    private readonly TomSelectConfiguration _configuration2 = new()
    {
        Plugins = new List<TomSelectPluginType> { TomSelectPluginType.RemoveButton }
    };
    private bool isRendered = false;  
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isRendered = true;
            await Task.Delay(0);
            StateHasChanged(); 
        }
    }
    protected override void OnInitialized() {
        _options = new List<SelectItem>
        {
            new SelectItem { Id = "1", Name = "New" },
            new SelectItem { Id = "2", Name = "Follow-up" },
            new SelectItem { Id = "3", Name = "Closed" },
            new SelectItem { Id = "4", Name = "Contacted" },
            new SelectItem { Id = "5", Name = "Disqualified" },
            new SelectItem { Id = "6", Name = "Qualified" },
        };
        _options2 = new List<SelectItem>
        {
            new SelectItem { Id = "1", Name = "Social Media" },
            new SelectItem { Id = "2", Name = "Direct mail" },
            new SelectItem { Id = "3", Name = "Blog Articles" },
            new SelectItem { Id = "4", Name = "Affiliates" },
            new SelectItem { Id = "5", Name = "Organic search" },
        };
        _options3 = new List<SelectItem>
        {
             new SelectItem { Id = "1", Name = "New Lead" },
             new SelectItem { Id = "2", Name = "Prospect" },
             new SelectItem { Id = "3", Name = "Customer" },
             new SelectItem { Id = "4", Name = "Hot Lead" },
             new SelectItem { Id = "5", Name = "Partner" },
             new SelectItem { Id = "6", Name = "LostCustomer" },
             new SelectItem { Id = "7", Name = "Influencer" },
             new SelectItem { Id = "8", Name = "Subscriber" },
        };
    }
}