@using Humanizer
@using WMBlazorOverlayScrollbars.WMBOS
<div class="header-element notifications-dropdown">
    <!-- Start::header-link|dropdown-toggle -->
    <a href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="messageDropdown" aria-expanded="false">
        <i class="bx bx-bell header-link-icon"></i>
        <span class="badge bg-secondary rounded-pill header-icon-badge pulse pulse-secondary" id="notification-icon-badge">@(BellNotifications.Count)</span>
    </a>
    <!-- End::header-link|dropdown-toggle -->
    <!-- Start::main-header-dropdown -->
    <div class="main-header-dropdown dropdown-menu dropdown-menu-end" data-popper-placement="none">
        <div class="p-3">
            <div class="d-flex align-items-center justify-content-between">
                <p class="mb-0 fs-17 fw-semibold">Notifications</p>
                <a href="javascript: void(0);" class="py-0 text-primary" @onclick="()=>ReadAllAsync()">
                    @translationState.Translate("Clear_All")
                </a>
                @* <span class="badge bg-secondary-transparent">@(NotifyListData.Count) Unread</span> *@
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <BlazorOverlayScrollbars>
            <BlazorOverlayScrollbarsContent>
                <ul class="list-unstyled mb-0" id="header-notification-scroll">
                    @if (GroupedNotifications != null && GroupedNotifications.Any())
                    {
                        @foreach (var group in GroupedNotifications)
                        {
                            <h5 class="text-muted fs-11 fw-normal mb-0 pb-2 mt-2 mx-3 border-bottom">@translationState.Translate(group.Key)</h5>
                            @foreach (var notification in group.Value)
                            {
                                <li class="dropdown-item">
                                    <div class="d-flex align-items-center">
                                        <div class="pe-2">
                                            <span class="avatar avatar-md avatar-rounded @CssClassRenderer.RenderNotificationBackground(notification.EventId)"><i class="@CssClassRenderer.RenderNotificationIcon(notification.EventId) fs-18"></i></span>
                                        </div>
                                        <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                                            <div>
                                                <p class="mb-0 fw-semibold"><a href="notifications">@((MarkupString)(notification.SenderName ?? string.Empty))</a></p>
                                                <span class="text-muted fw-normal fs-12 header-notification-text">@notification.NotificationMessage</span>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1"><i class="ti ti-x fs-16"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>                                
                            }
                        }
                    }
                </ul>
            </BlazorOverlayScrollbarsContent>
        </BlazorOverlayScrollbars>

        @if (!BellNotifications.Any())
        {
            <div class="p-5 empty-item1">
                <div class="text-center">
                    <span class="avatar avatar-xl avatar-rounded bg-secondary-transparent">
                        <i class="ri-notification-off-line fs-2"></i>
                    </span>
                    <h6 class="fw-semibold mt-3">No New Notifications</h6>
                </div>
            </div>
        }
        else
        {
            <div class="p-3 empty-header-item1 border-top">
                <div class="d-grid">
                    <a href="/notifications" class="btn btn-primary">View All</a>
                </div>
            </div>
        }
    </div>
    <!-- End::main-header-dropdown -->
</div>