@using Microsoft.AspNetCore.Components.Web
@namespace WB.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager // This line is used to generate URLs dynamically //
@inject StateService stateService
@using System.Text.Json;
@inject IHttpContextAccessor HttpContextAccessor
@{ 
    var appState = stateService.GetAppState();
}

@if(appState != null)
{
    <!DOCTYPE html>
    <html lang="en" data-toggled="detached-close"
    @if (!string.IsNullOrEmpty(appState?.Direction))
    {
        <text>dir="@appState.Direction"</text>
    }
    @if (!string.IsNullOrEmpty(appState?.LayoutStyles))
    {
        <text>data-vertical-style="@appState.LayoutStyles"</text>
    }
    @if (!string.IsNullOrEmpty(appState?.NavigationStyles))
    {
        <text>data-nav-layout="@appState.NavigationStyles"</text>
    }
    @if (!string.IsNullOrEmpty(appState?.ColorTheme))
    {
        <text>data-theme-mode="@appState.ColorTheme"</text>
    }
    @if (!string.IsNullOrEmpty(appState?.HeaderColor))
    {
        <text>data-header-styles="@appState.HeaderColor"</text>
    }
    @if (!string.IsNullOrEmpty(appState?.MenuColor))
    {
        <text>data-menu-styles="@appState.MenuColor"</text>
    }
    @if (!string.IsNullOrEmpty(appState?.MenuStyles))
    {
        <text>data-nav-style="@appState.MenuStyles"</text>
    }
    @if (!string.IsNullOrEmpty(appState?.PageStyles))
    {
        <text>data-page-style="@appState.PageStyles"</text>
    }
    @if (!string.IsNullOrEmpty(appState?.WidthStyles))
    {
        <text>data-width="@appState.WidthStyles"</text>
    }
    @if (!string.IsNullOrEmpty(appState?.MenuPosition))
    {
        <text>data-menu-position="@appState.MenuPosition"</text>
    }
    @if (!string.IsNullOrEmpty(appState?.HeaderPosition))
    {
        <text>data-header-position="@appState.HeaderPosition"</text>
    }
    @if (!string.IsNullOrEmpty(appState?.BackgroundImage))
    {
        <text>data-bg-img="@appState.BackgroundImage"</text>
    }
    @{
        string style = "";

        if (!string.IsNullOrEmpty(appState?.ThemePrimary))
        {
            style += $"--primary-rgb: {appState.ThemePrimary}; ";
        }
        if (!string.IsNullOrEmpty(appState?.ThemeBackground))
        {
            style += $"--body-bg-rgb: {appState.ThemeBackground}; ";
            style += $"--body-bg-rgb2: {appState.ThemeBackground1}; ";
            style += $"--light-rgb: {appState.ThemeBackground1}; ";
            style += $"--form-control-bg: rgb({appState.ThemeBackground1}); ";
            style += $"--input-border: rgba(255,255,255,0.1); ";
        }
    }
        style="@style"
    >

        <head>
            <!-- META DATA -->
            <meta charset="UTF-8">
            <meta name='viewport' content='width=device-width, initial-scale=1.0'>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
            <meta name="Author" content="Spruko Technologies Private Limited">
            <meta name="keywords" content="blazor, blazor c#, blazor template, dashboard, blazor ui, dashboard template, blazor bootstrap, blazor framework, admin, blazor net, bootstrap, bootstrap css, admindashboard, bootstrap blazor, bootstrap admin">
            <base href="~/" />

            <!-- TITLE -->
            <title> Warba Insurance B2B </title>
            <link href="WB.Web.styles.css" rel="stylesheet" />

            <!-- Favicon -->
            <link rel="icon" href="@($"{NavigationManager.BaseUri}assets/images/brand-logos/favicon.ico")" type="image/x-icon">

            <!-- Style Css -->
            <link href="@($"{NavigationManager.BaseUri}assets/css/styles.css")" rel="stylesheet" >

            <!-- Icons Css -->
            <link href="@($"{NavigationManager.BaseUri}assets/css/icons.css")" rel="stylesheet" >

            <!-- Flatpickr Css -->
            <link href="_content/FlatpickrBlazor/flatpickr.min.css" rel="stylesheet" />
            <link href="_content/FlatpickrBlazor/plugins/monthSelect/style.css" rel="stylesheet" />

            <!-- ColorPicker CSS -->
            <link href="_content/BlazorColorPicker/colorpicker.css" rel="stylesheet" />

            <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

        </head>

        <body>
        @RenderBody()

            <!-- Popper JS -->
            <script src="@($"{NavigationManager.BaseUri}assets/libs/@popperjs/core/umd/popper.min.js")"></script>

            <!-- Bootstrap JS -->
            <script src="@($"{NavigationManager.BaseUri}assets/libs/bootstrap/js/bootstrap.bundle.min.js")"></script>

            <!-- FlatpickrBlazor JS -->
            <script src="_content/FlatpickrBlazor/flatpickr.min.js"></script>
            <script src="_content/FlatpickrBlazor/flatpickr.blazor.js"></script>
            <script src="_content/FlatpickrBlazor/plugins/monthSelect/index.js"></script>

            <script async defer>
                window.onload = function () {
                    setTimeout(() => {
                        let javascriptLinks = [
                            "/assets/js/custom.js"
                        ]
                        javascriptLinks.map((link)=>{
                            var scriptElement = document.createElement('script');
                            scriptElement.src = link;
                            document.head.appendChild(scriptElement);
                        })
                    }, 100);
                };
            </script>

             <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var scriptUrls = [
                        "_content/NoUiSlider.Blazor/dist/bundle.js",

                        "_content/Blazored.TextEditor/quill-blot-formatter.min.js",
                        "_content/Blazored.TextEditor/Blazored-BlazorQuill.js",

                       "../assets/libs/quill/quill.js",

                        "../assets/libs/chart.js/chart.min.js",

                        "../assets/libs/gmaps/gmaps.min.js",

                        "../assets/libs/gridjs/gridjs.umd.js",

                        "../assets/libs/dropzone/dropzone-min.js",

                        "../assets/libs/dragula/dragula.min.js",

                        "../assets/libs/jsvectormap/jsvectormap.js",
                        "../assets/js/form-wizard.js",
                        "../assets/libs/moment/moment.js",
                        "../assets/libs/fullcalendar/main.min.js",
                        "../assets/libs/glightbox/js/glightbox.min.js"
                    ];
                    scriptUrls.forEach(function (url) {
                        var script = document.createElement("script");
                        script.src = url;
                        document.body.appendChild(script);
                    });
                });
            </script>

            <!-- Interop JS -->
            <script src="_framework/blazor.server.js"></script>
                <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
            <script src="js/javaScriptInterop.js"></script>
            <script src="js/resizeInterop.js"></script>

            <script>
                function CaptureElementAndCallBlazorFunction(event, menuData) {
                    var element = event.currentTarget;
                    var menuId = element.dataset.menuId;
                    window.DotNet.invokeMethodAsync("WB.Web.SubNavMenu", "TriggerFunction", element, menuData, null);
                }
            </script>

        </body>

    </html>
}
